In [2]:
import sys
sys.path.append("src")
import statfinpy

In [11]:
db = statfinpy.PxWebAPI.Verohallinto()
tulot = db.table("Vero", "tulot_101.px")

In [34]:
tulot.values["Tuloluokka"]

   code                 text
0    SS  Tuloluokka yhteensä
1     1            0 – 4 999
2     2        5 000 – 9 999
3     3      10 000 – 14 999
4     4      15 000 – 19 999
5     5      20 000 – 24 999
6     6      25 000 – 29 999
7     7      30 000 – 34 999
8     8      35 000 – 39 999
9     9      40 000 – 44 999
10   10      45 000 – 49 999
11   11      50 000 – 54 999
12   12      55 000 – 59 999
13   13      60 000 – 64 999
14   14      65 000 – 69 999
15   15      70 000 – 74 999
16   16      75 000 – 79 999
17   17      80 000 – 84 999
18   18      85 000 – 89 999
19   19      90 000 – 94 999
20   20      95 000 – 99 999
21   21    100 000 – 149 999
22   22    150 000 – 199 999
23   23    200 000 – 249 999
24   24    250 000 – 299 999
25   25    300 000 – 499 999
26   26    500 000 – 999 999
27   27          1 000 000 –

In [35]:
df = tulot.query({
    "Verovuosi": 2022,
    "Erä": "HVT_TULOT_70",
    "Tulonsaajaryhmä": "Y",
    "Tuloluokka": "*",
    "Tunnusluvut": "*"
})

In [36]:
tuloluokat = [str(x) for x in range(19,28)]
df = df[df.Tuloluokka.isin(tuloluokat)]
N = df.N.to_numpy().sum()
s = df.Sum.to_numpy().sum()
r = 88_200 * N
print(f"{int(N)}: {s/1e9:.2f} - {r/1e9:.2f} = {(s-r)/1e9:.2f} mrd.")

173384: 20.47 - 15.29 = 5.17 mrd.